@model IEnumerable<Synergy.Admin.Models.InfusionSoftModel>

@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configuration</h2>

<p>
    @Html.ActionLink("Register", "Register")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secret)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secret)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id= item.Id }) |
            @Html.ActionLink("Details", "Detail", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
