@model IEnumerable<Synergy.AgileCRM.Model.Deal>

@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deals</h2>

<p>
    @Html.ActionLink("Create New Deal", "CreateDeal")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expected_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.milestone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.probability)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expected_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.milestone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.probability)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDeal", new { id = item.id }) |
                @Html.ActionLink("Details", "DealDetail", new { id = item.id }) |
                @Html.ActionLink("Delete", "DeleteDeal", new { id = item.id })
            </td>
        </tr>
    }

</table>
